* {
  font-family: 'Electrolize', sans-serif;
}

html {
  height: 100%
}

body {
  height: 100vh;
  margin: auto;
  background-image: url("../mars.jpg");
  background-size: 100vw 100vh
  /* overflow: hidden; */
  /* position: absolute; */
  /* top: -8px; */
}

.content-wrapper {
  margin: auto;
  height: 100vh;
  position: relative;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  opacity: 1;
}

.sol-div {
  text-align: center;
  margin: 4vh 25vw 0 25vw;
  width: 50vw;
  /* max-height: 50vh; */
  display: inline-block;
  justify-content: center;
  /* vertical-align: middle; */
  /* float: left; */
  /* white-space: normal; */
}

.sol-data-div {
  border-style: groove;
  border-color: #b54e00;
  border-width: thick;
  border-radius: 25px;
  background-color: rgba(255, 114, 48, 0.3);
}

h1 {
  font-size: 6vw;
  color: #FFF;
  margin-bottom: 8vh;
  margin-top: 2vh;
  background-color: rgba(102, 102, 102, 0.8);
  border-radius: 25px;
  border-style: solid;
  border-color: #121212;
}

p {
  font-size: 3vw;
  color: #FFF;
  padding: 1vh 0 1vh 0;
  margin: 0 0 0 0;
}

span.unit:hover {
  color: #000000;
  cursor: pointer;
}
